.header {
    width: 1300px;
    display: block;
    position: fixed;
    top: 0;
    background-color: orange;
    border-radius: 15px;
    border-style: solid;

}
.naviBar {
    width: 90%;
    margin: 0 auto;
    padding: 5px;
    border-color: #22b14d;
    border-style: solid;
    border-radius: 15px;
    text-align: center;
}

.searchBar {
    display: inline-block;
    position: relative;
    float: right;
    padding: 15px;
}

.menuButton {
    text-decoration: none;
    background-color: #22b14d;
    color: white;
    border-width: 0px;
    border-radius: 5px;
    padding: 15px 30px;
    font-weight: bold;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 15px;
    width: 150px;
}

.dropdown {
    display: inline-block;
    postion: relative;
}

.dropdownContent {
    display: none;
    position: absolute;
    z-index: 1;
    padding: 5px 0px;
    width: 150px;
}

.menuLink {
    display: block;
    text-decoration: none;
    color: white;
    background-color: #22b14d;
    border-width: 0px;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 2px 0px;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 14px;

}

.menuLink:hover {
    background-color: red;
}

.dropdown:hover .dropdownContent {
    display: block;
}