body {
    width: 1300px;
    margin: 0 auto;
    margin-top: 180px;
}

input, textarea {
    background-color: #e8ffe8;
}


.comment {
    border-width: 2px;
    border-color: #22b14d;
    border-radius: 15px;
    border-style: solid;
}