<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Blog kulinarny</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <script th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
    <div th:replace="header :: header"></div>
</head>

<body>
<div class="mainContainer">
    <div align="center">
        <h2>Ups, coś poszło nie tak! :(</h2>
    </div>
</div>
</body>
</html>
