<html xmlns="http://www.w3.org/1999/xhtml"
             xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Blog kulinarny</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <script th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
    <div th:replace="header :: header"></div>
</head>

<body>
    <div class="mainContainer">
        <b><h3>Ostatnio dodane:</h3></b>
        <div class="recipeMiniature" th:each="recipe : ${recipes}">
            <a class="miniatureLink" th:href="@{'/przepis/' + ${recipe.name}}" th:text="${#strings.toUpperCase(recipe.name)}"></a>
            <br/>
            <a th:href="@{'/przepis/' + ${recipe.name}}">
                <IMG class="miniatureImage" th:src="@{${recipe.imageLink}}" ALT="some text" WIDTH=300 HEIGHT=300>
            </a>
        </div>
    </div>
</body>
</html>
