<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Blog kulinarny</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <script th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
    <div th:replace="header :: header"></div>
</head>

<body>
    <form th:object="${recipe}" th:method="post" th:action="@{/przepis/dodaj}">
        <br>
        <b>Nazwa dania </b> <input type="text" th:field="*{name}"/>
        <br/>
        <b>Tagi</b>
        <input type="text" name="tags"/>
        <b>Kategoria</b>
        <select name="cattegoryId1" >
            <option th:each="timeCattegory : ${timeCattegories}" th:value="${timeCattegory.id}" th:text="${timeCattegory.name}"></option>
        </select>
        <b>Typ diety </b>
        <select name="cattegoryId2" >
            <option th:each="dietCattegory : ${dietCattegories}" th:value="${dietCattegory.id}" th:text="${dietCattegory.name}"></option>
        </select>
        <b>Typ posiłku </b>
        <select name="cattegoryId3" >
            <option th:each="mealCattegory : ${mealCattegories}" th:value="${mealCattegory.id}" th:text="${mealCattegory.name}"></option>
        </select>
        <b>Adres do obrazka</b>
        <input type="text" th:field="*{imageLink}"/>
        <br/>
        <b>Składniki </b> <br/> <textarea rows=20 cols="40" th:field="*{ingredients}"></textarea>
        <br/>
        <b>Instrukcje </b> <br/> <textarea rows=20 cols="120" th:field="*{instruction}"></textarea>
        <br/>
        <button type="submit">Dodaj przepis</button>
    </form>
</body>
</html>