<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Blog kulinarny</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <script th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
    <div th:replace="header :: header"></div>
</head>

<body>
<h2>REJESTRACJA</h2>
<div class="form">
    <p th:if="${errorMessage != null}" th:text="${errorMessage}"></p>
    <form th:action="@{/register}" th:object="${user}" method="post">
        <div class="field">
            <label>Nazwa: </label> <input type="text" th:field="*{username}" autofocus="autofocus"/>
            <i th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></i>
        </div>
        <div class="field">
            <label>Haslo: </label>  <input type="password" th:field="*{password}"/>
            <i th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></i>
        </div>
        <div class="field">
            <label>Powtórz hasło: </label>  <input type="password" id="passwordRepeat" name="passwordRepeat"/>
        </div>
        <div class="field">
            <button type="submit">Zarejestruj</button>
        </div>
    </form>
</div>
</body>
</html>
