<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Blog kulinarny</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <script th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
    <div th:replace="header :: header"></div>
</head>

<body>
<div class="mainContainer">
    <form th:action="@{/register}" th:object="${user}" method="post">
        <p th:if="${errorMessage != null}" th:text="${errorMessage}"></p>
        <table>
            <tr>
                <td><b>Nazwa</b></td>
                <td>
                    <input type="text" th:field="*{username}" autofocus="autofocus"/>
                    <i th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></i>
                </td>
            </tr>
            <tr>
                <td><b>Hasło</b></td>
                <td>
                    <input type="password" th:field="*{password}"/>
                    <i th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></i>
                </td>
            </tr>
            <tr>
                <td><b>Powtórz hasło</b></td>
                <td>
                    <input type="password" id="passwordRepeat" name="passwordRepeat"/>
                </td>
            </tr>
            <tr>
                <td colspan="2"><button type="submit">Zarejestruj</button></td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>
