<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Blog kulinarny</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <script th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
    <div th:replace="header :: header"></div>
</head>

<body>
<div class="mainContainer">
    <b><h3>Wyniki wyszukiwania:</h3></b>
    <b th:if="${recipes.isEmpty()}">Nic nie znaleziono :(</b>
    <a class="recipeMiniature" th:each="recipe : ${recipes}" th:href="@{'/przepis/' + ${recipe.name}}">
        <span class="miniatureName" th:text="${#strings.toUpperCase(recipe.name)}"></span>
        <div class="miniatureImage">
            <IMG th:src="@{${recipe.imageLink}}" ALT="some text" WIDTH=300 HEIGHT=300>
        </div>
    </a>
</div>
</body>
</html>